.content {
  margin: 20px 0;
}

.title {
  text-align: center;
  padding: 10px 0;
  font-size: 28px;
}

.currentDate {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.image {
  text-align: center;
  margin-bottom: 10px;
}

.imageTitle {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 800;
}

.explanation {
  span {
    font-weight: 800;
  }
}

.spin {
  text-align: center;
  margin-top: 150px;
}
